body {
    background-image: url('https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
}

/* can give body a class instead to make background iamges dynamic with zodiac or day */

.font-adj {
    font-size: 4rem;
    font-weight: 1000;
    color: White;
}

.label-adj {
    font-weight: 600;

}

img {
    height: 40rem;
    width: 10rem;
}

.container {
    max-width: unset;
}

ul {
    font-size: 2rem;
}